select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{padding:0px 6px}
.infolink_bg{padding:5px 12px 10px;}
time.icon{border:1px solid #FD9F1B;}
.timeshow ul li .e_date{padding-top:0px;}
.chat_profileareasearch .search input[type="text"]{padding:0px 6px}
header .container .nav > li .profilewidth, header .container .nav > li .notificationwidth{border:1px solid #ccc;border-top:0;}
.gamewidgetmedia-status ul li{width:117px}
.regdiv, .signdiv{border:1px solid #f4f4f4}
/*switch*/
.network_positionabsolutediv { position: absolute; top:20px; width:410px;line-height: 24px;left:390px }
.noHeight .row-fluid .span12{min-height:0px; line-height: 0px}
.min-height0 {height:0px}
.has-switch span.active.switch-right, .has-switch span.disabled.switch-right, .has-switch span.switch-right:active, .has-switch span.switch-right:focus, .has-switch span.switch-right:hover, .has-switch span[disabled].switch-right, 
.has-switch span.switch-right{background-color: rgb(53, 53, 53); background: #484848;}
.has-switch span.switch-left, .has-switch span.switch-primary, .has-switch span.switch-left:hover, .has-switch span.switch-primary:hover, .has-switch span.switch-left:active, .has-switch span.switch-primary:active {background-color: rgb(53, 53, 53); background: #484848; }